/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap'); */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.navbar {
    /* position: sticky;
    top: 0; */
    z-index: 1000; 
    /* border: 1px solid purple; */
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;
    width: 80rem;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    width: 6.75rem;
    height: 1.5rem;
    /* border: 1px solid red; */
}

.navbar-logo img {
    padding: 0.063rem; /* 1px */
    margin-right: .25rem; /* 4px */ 
}

.navbar-links {
    display: flex;
    /* border: 1px solid green; */
    align-items: center;
    font-weight: 400;
    margin-left: 7rem /* 112px */;
}


.navbar-login {
    /* border: 1px solid black; */
    margin-left: 28.25rem;
}
.navbar-pages, .navbar-login {
    display: flex;
}



.navbar-link {
    display: flex;
    margin-right: 2.5rem; /* 40px; */
    align-items: center;
    gap: 0.25rem;
    /* border: 1px solid black; */
}

.register-btn {
    background-color: #61C554;
    border-radius: 0.313rem; /* 5px; */
    padding: 0.75rem 2 rem; /* 12px 32px; */
    font-size:1rem; /* 18px; */
    color: #ffffff;
    height: 2.688rem; /* 43px; */
    width: 8.125rem; /* 130px; */
    border: none;
    cursor: pointer;
}
